body{
    margin: 0;
    padding:0;
    border: solid hsl(120, 82%, 47%) 10px;
    box-sizing: border-box;
}

#header{
    text-align: center;
}
.myh1{
    color:hsl(120, 82%, 47%);
}

#table {
    font-size: 1.5em;
}

#table #btn{
    font-size: 1.5em;
    margin-top: 50px;
    position: relative;
    left: 95px;
    border-radius: 5px;
    background-color: hsl(120, 87%, 49%);
    color:rgb(255, 255, 255);
}
#table #btn:hover{
    background-color: hsl(120, 80%, 30%);
}
#age{
    width: 163px;
}

#quantity{
    width: 163px;
}
#select{
    font-size: .9em;
}

#myh2{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

#foot{
    height: 500px;
    width: 100%;
    background-color:black;
    color:white;
}
#contact{
    font-size: 1.6em;
    color:hsl(120, 100%, 50%);
}


#message {
    height: 90px;
    color:hsl(0, 0%, 100%);
    width: 200px;
    overflow: auto;
    background-color: black;
}

#btn{
    cursor: pointer;
}

@media screen and (max-width:600px) {
    #contact{
        font-size: 1.2em;
        margin-bottom: -20px;
    }
    
}